.icons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.icon:hover {
  border-bottom: 1px solid;
}

.material-symbols-outlined {
  font-size: 25px;
  font-weight: lighter;
}
