.dashWrapper {
  height: 100%;
  display: flex;
}

.main-row {
  height: 720px;
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 95%;
  display: flex;
}

.child-col {
  height: 100%;
}

.bigtitle {
  font-size: 18px;
  text-align: center;
}

.dashTitle {
  font-size: 18px;
  /* margin-bottom: 2px; */
}

.badge {
  margin: 8px 0px;
}

.semester-badge {
  width: 85px;
}

.mybadge {
  width: 100px;
  margin: 5px 0;
  border-radius: 10px;
  padding: 1px 8px;
  margin: 8px 0px;
  font-size: 13px;
  color: rgb(4, 4, 4);
  background-color: #ffde20;
}

.mycard {
  margin-right: 15px;
  padding: 15px;
  /* border: 1px solid transparent; */
  border-radius: 25px;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: #fdfbf1;
  display: flex;
}

.rec-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.degree-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.create-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn-success {
  margin: 5px 0px;
}

.cancelBtn {
  margin: 2px 0px;
  color: white;
  background-color: #d14242;
  --bs-btn-hover-border-color: #da6556;
}

.cancelBtn:hover {
  color: white;
  background-color: #b52d1b;
}

.createBtn:hover {
  background-color: #21740a;
}

.courseName {
  text-align: left;
}
