/*Ke Chen*/
.logoutIcon {
  margin-right: 3px;
}

.icon {
  vertical-align: bottom;
}
.icon:hover {
  border-bottom: 1px solid;
}

.material-symbols-outlined {
  font-size: 25px;
  font-weight: lighter;
}
